@{
  ViewData["Title"] = "Home Page";
}

<iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiMGE1ZDY3NTEtMDlmOS00OGRlLTk3N2YtNDE4MDJkMWI2NDYzIiwidCI6ImI1NzcxNjE4LWIwNjYtNDgzOS04ZjYxLTZkZThkMzIyYWI5NiIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>

<h2>Gareth's Mock Project Web-App</h2>
<h3>Please use the menu above for navigation.  Registration is live and local</h3>
<h4>Please remember this is an illustrative prototype</h4>
